#chatContainer {
  display: grid;
  grid-template-rows: auto auto auto;
}

#chatList {
  height: 30vh;
  overflow-y: scroll;
}

#chatInput {
  display: grid;
  grid-template-columns: 1fr 50px;
}

#chatContent {
  width: calc(100% - 4px);
}