<link rel="stylesheet" href="/css/bookings.css">

<div id="listContainer">

  <div id="productivity_msg">Congrats on your progress! You've earned a short break!</div>
  <div id="location_listing">
    Location: 
  </div>
  <div id="subject">
    Subject: 
  </div>
  <div id="event-type">
    Event Type: 
  </div>
  <div class="attendees">
    Attendees: Raphael, Naz
  </div>
  <div id="btnsContainer">
    <button id="accept" class="btn">Accept</button>
    <button id="cancel" class="btn">Cancel</button>
  </div>
  <div class="Custom-invite"></div>
</div>

<link href="/css/bookings.css" rel="stylesheet" />

<script src="/js/bookings.js"></script>

<!-- FOR TOMORROW, ADD CUSTOMIZATION TO EVENTS 
    <form action="/schedule">
    <datalist id="event-type">
        <option value="">
        <option value="">
            <submit>Add to Schedule</submit>
</form> -->