<div id="roomContainer">
  <div id="eventContainer">
    <div id="eventTitle">The stare at the air competition</div>
    <div id="eventDescription">anyone want to spend time meaninglessly feel free to join</div>
    <div class="eventContentItem">
      <span class="eventContentItemLabel">Location</span>
      <span>Here</span>
    </div>
    <div class="eventContentItem">
      <span class="eventContentItemLabel">Date</span>
      <span>10.01.2022</span>
    </div>
    <div class="eventContentItem">
      <span class="eventContentItemLabel">Time</span>
      <span>2pm to 6pm (starting in x minutes)</span>
    </div>
    <div class="eventContentItem">
      <span class="eventContentItemLabel">Participants</span>
      <span>Raphael (Organizer), Gabriel, Naz, and other 8 people</span>
    </div>
  </div>
  <div id="commentContainer">
    <span>Comments</span>
    <div id="commentList">

    </div>
    <div id="commentInput">
      <input type="text" id="commentContent"/>
      <button id="commentPostButton">Send</button>
    </div>
  </div>
  <div id="optionsContainer">
    <button id="inviteButton">Invite</button>
    <button id="shareButton">Share</button>
    <button id="cancelButton">Cancel Attendance</button>
  </div>
</div>

<link href="/css/room.css" rel="stylesheet" />
<script src="/js/room.js"></script>